$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 1px 2px rgba(0, 0, 0, 0.24);

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 padding: 1rem 0;
 
}

#title{
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.container {
  margin: 1rem auto;
  min-width: 400px;


  #alert {
    background: rgb(126, 57, 57);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    display: none;
  }

  h1 {
    letter-spacing: 1px;
    margin: 0rem;
  }
  h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10x;
  }
  h4 {
    margin: 0;
    text-transform: uppercase;
  }

  .inc-exp-container {
    background: white;
    box-sizing: $box-shadow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    > div {
      flex: 1;
      text-align: center;
      .money {
        font-size: 2rem;
        letter-spacing: 4px;
        margin: 7px 0;
        &-plus {
          color: #2e6dcc;
        }
        &-minus {
          color: #c0392b;
        }
      }
      &:nth-child(1) {
        border-right: 1px solid #dede;
      }
    }
  }
  #list {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    li {
      background: #fff;
      box-shadow: $box-shadow;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 10px;
      margin: 10px 0;
      cursor: pointer;
      &:hover .delete-btn {
        opacity: 1;
      }
      &.minus {
        border-right: 5px solid #c0392b;
      }
      &.plus {
        border-right: 5px solid #2e6dcc;
      }
      .delete-btn {
        position: absolute;
        background: #e74c3c;
        border: 0;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        padding: 2px 5px;
        top: 50%;
        left: 0;
        transform: translate(-120%, -50%);
        transition: all 0.5s ease-in-out;
        opacity: 0;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }

  form {
    label {
      display: inline-block;
      margin: 15px 0;
    }

    input[type="text"],
    input[type="number"] {
      border: 1px solid #dedede;
      border-radius: 2px;
      display: block;
      font-size: 1rem;
      padding: 10px;
      width: 100%;
    }
    .btn {
      background: #1f0797;
      box-shadow: $box-shadow;
      color: white;
      border: none;
      display: block;
      font-size: 1rem;
      margin: 10px 0 30px;
      padding: 10px;
      width: 100%;
    }
  }
}
.show {
  opacity: 1;
}
